<section id="projects">
<div class="container">
  <h3>Programming Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/adibpat/gossip-based-heartbeat">Gossip based Heartbeat Algorithm </a></strong>
			<br>Node failure detection in a Distributed System
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/adibpat/mythread_ThreadsLibrary">mythread.a</a></strong>
			<br>A POSIX compliant User-Level Non-Preemptive Threads Library. 
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/adibpat/mythread_sync">Synchronization Primitives </a></strong>
			<br>Mutexes, Conditional Variables and Barriers for a User-Level Threads Library (POSIX Compliant)
		</h5>
    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/adibpat/mythread_sched">Feedback Prioritized Preemptive Threads Scheduler</a></strong>
			<br>A FPP scheduler with time slice of 2^(i-1)ms for the i-th invocation using UNIX Signals
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://sites.google.com/a/ncsu.edu/csc_573_project/">Click Modular Router</a></strong>
			<br>A router to study active queue management and packet scheduling algorithms. 
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/adibpat/bufferOverflowAttackDetection">Buffer Overflow Attacks</a></strong>
			<br>5 methods of performing Buffer Overflow attacks and Sandbox approach to avoid attacks
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/adibpat/barrierUsingSignals">POSIX complient barriers using UNIX Signals</a></strong>
			<br>A different (efficient) implementation of Barriers using UNIX Signals
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/adibpat/smp_cache_simulator">Multi-processor Coherent Cache Simulator</a></strong>
			<br>A cache simulator for symmetric multiprocessors using MESI, MOESI and Dragon Update
		</h5>


    </div>
  </div>
</div>
</section>
